@"
# Java
*.class
target/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Sistema
Thumbs.db
desktop.ini
"@ | Set-Content -Path .gitignore -Encoding utf8

git add .gitignore
git commit -m "chore: adiciona .gitignore"